@model ProductUpdateRequest
@{
    ViewBag.Title = "Edit Product";
}

<div class="form-container">
    <div class="form-box">
        <h2>Update Product</h2>

        <form asp-controller="Product" asp-action="UpdateProduct" method="post">

            <div class="form-group">
                <label asp-for="ProductID">Product ID</label>
                <input asp-for="ProductID" readonly />
            </div>

            <div class="form-group">
                <label asp-for="ProductName">Product Name</label>
                <input asp-for="ProductName" />
            </div>
            <span asp-validation-for="ProductName" class="field-validation-error"></span>

            <div class="form-group">
                <label asp-for="ProductRate">New Price</label>
                <input asp-for="ProductRate" type="number" step="0.01" min="0" />
            </div>
            <span asp-validation-for="ProductRate" class="field-validation-error"></span>

            <button type="submit" class="btn btn-primary">Update Product</button>

            <a asp-controller="Product" asp-action="Index" class="text-center mt-10">← Back to Product List</a>
        </form>
    </div>
</div>

@section script {
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"
            integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g=="
            asp-fallback-test="window.jQuery"
            asp-fallback-src="~/jquery.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.21.0/jquery.validate.min.js"
            integrity="sha512-KFHXdr2oObHKI9w4Hv1XPKc898mE4kgYx58oqsc/JqqdLMDI4YjOLzom+EMlW8HFUd0QfjfAvxSL6sEq/a42fQ=="
            asp-fallback-test="window.jQuery.validator"
            asp-fallback-src="~/jquery.validate.min.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/4.0.0/jquery.validate.unobtrusive.min.js"
            integrity="sha512-xq+Vm8jC94ynOikewaQXMEkJIOBp7iArs3IhFWSWdRT3Pq8wFz46p+ZDFAR7kHnSFf+zUv52B3prRYnbDRdgog=="
            asp-fallback-test="window.jQuery.validator.unobtrusive"
            asp-fallback-src="~/jquery.validate.unobtrusive.min.js"></script>
}
